* {
    --color-tip: #8630fe;
    --color-tip-light: #9e5afd;
    --color-tip-strong: #561fa2;

    --color-background: #ffffff;
    --color-background-alter1: rgb(245, 245, 245);
    --color-background-alter2: rgb(237, 237, 237);
    --color-background-alter3: rgb(200, 200, 200);
    --color-background-alter4: rgb(175, 175, 175);

    --color-icon: rgb(95, 95, 95);
    --color-icon-strong: var(--color-tip);

    --color-text: rgb(25, 25, 25);
    --color-text-black: #282828;
    --color-text-white: #ffffff;

    --border-width: 1.5px;
}

.state-none {
    display: none !important;
}

.state-hidden {
    visibility: hidden !important;
}

body, html {
    height: 100%;
}

body {
    background-color: var(--color-background);
    overflow-wrap: break-word;
    user-select: none;
    color: var(--color-text);
}

.container {
    display: flex;
    height: 100%;
    overflow: hidden;
    fill: var(--color-icon);
}

.tab-container {
    width: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    & .tab-icon-container {
        width: 50px;
        height: 50px;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        & .tab-icon {
            width: 50%;
            height: 50%;
            z-index: 2;
        }

        &.selected {
            fill: var(--color-icon-strong);

            & .tab-icon-selected {
                border-radius: 8px;
                z-index: 1;
                width: 75%;
                height: 75%;
                position: absolute;
                background-color: var(--color-background-alter2);
            }
        }
    }
}

.main-container {
    flex: 1;
    background-color: var(--color-background-alter1);

    & .main-container-tabView {
        height: 100%;
    }
}

/*控件*/
.switch {
    background-color: var(--color-background-alter1);
    border-radius: 14px;
    box-sizing: border-box;
    display: inline-flex;
    position: relative;
    transition-behavior: normal;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.38, 0, 0.24, 1);
    transition-delay: 0s;
    transition-property: all;
    width: 36px;
    height: 18px;
    padding: 3px;

    & .switch-handle {
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.09) 0 2px 4px;
        box-sizing: border-box;
        display: inline-block;
        height: 12px;
        width: 12px;
        position: relative;
        transition-behavior: normal;
        transition-duration: 0.2s;
        transition-timing-function: cubic-bezier(0.38, 0, 0.24, 1);
        transition-delay: 0s;
        transition-property: all;
        z-index: 2;
        background-color: var(--color-icon);
    }

    &.switch-on {
        background-color: var(--color-icon);
    }

    &.switch-on .switch-handle {
        transform: translateX(17px);
        background: var(--color-background-alter2);
    }
}

.combobox {
    cursor: pointer;
    height: 22px;
    border-radius: 5px;
    background-color: var(--color-background-alter1);
    color: var(--color-text);
    border: 1px solid var(--color-background-alter1);

    & option {
        border-radius: 0;
        background-color: var(--color-background-alter1);
        border: 0
    }
}

/*按钮*/
.button {
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    width: 70px;
    background-color: var(--color-tip);
    border-radius: 50px;
    text-align: center;
    font-size: 13px;
    color: var(--color-text-white);
    transition: all 0.1s;

    &:hover {
        background-color: var(--color-tip-light);
    }


    &:active {
        background-color: var(--color-tip-strong);
    }
}

/*输入框*/
input {
    width: 60px;
    height: 16px;
    background-color: var(--color-background-alter1);
    color: var(--color-text);
    border: 2px solid var(--color-background-alter1);
    border-radius: 5px;
    box-sizing: content-box;
    text-align: right;
    padding: 0 5px 0 5px;

    &:focus {
        border: var(--border-width) solid var(--color-icon-strong);
        outline: none;
    }

    &.long-input {
        width: 300px;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

a {
    color: var(--color-icon);

    &:active {
        color: var(--color-icon-strong);
    }
}

/*滚动条*/
/* 隐藏浏览器默认滚动条 */
::-webkit-scrollbar {
    width: 10px; /* 设置滚动条宽度 */
    height: 0;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
    background-color: transparent; /* 设置轨道背景颜色 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 10px; /* 设置滑块边角的圆角 */
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-background-alter4);
}