* {
    --color-tip: #8630fe;
    --color-tip-light: #9e5afd;
    --color-tip-strong: #561fa2;

    --color-background: #ffffff;
    --color-background-alter1: rgb(245, 245, 245);
    --color-background-alter2: rgb(237, 237, 237);
    --color-background-alter3: rgb(200, 200, 200);
    --color-background-alter4: rgb(175, 175, 175);

    --color-icon: rgb(95, 95, 95);
    --color-icon-light: var(--color-background-alter4);
    --color-icon-strong: var(--color-tip);

    --color-text: rgb(25, 25, 25);
    --color-text-gray: var(--color-icon);
    --color-text-gray2: rgb(135, 135, 135);
    --color-text-black: #282828;
    --color-text-white: #ffffff;

    --size-border: 1.5px;
    --size-text-main: 14px;
    --size-text-small: 13px;
}

@font-face {
    font-family: "user-font";
    src: url("resources/font.ttf");
}

.state-none {
    display: none !important;
}

.state-hidden {
    visibility: hidden !important;
}

.state-selectable-text {
    user-select: text;
}

body, html {
    height: 100%;
}

body {
    font-family: user-font, sans-serif !important;
    background-color: var(--color-background);
    overflow-wrap: break-word;
    user-select: none;
    color: var(--color-text);
}

.container {
    display: flex;
    height: 100%;
    overflow: hidden;
    fill: var(--color-icon);
}

.tab-container {
    padding-top: 30px;
    width: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    & .tab-icon-container {
        width: 50px;
        height: 50px;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        & .tab-icon {
            width: 50%;
            height: 50%;
            z-index: 2;
        }

        &.selected {
            fill: var(--color-icon-strong);

            & .tab-icon-selected {
                border-radius: 8px;
                z-index: 1;
                width: 75%;
                height: 75%;
                position: absolute;
                background-color: var(--color-background-alter2);
            }
        }
    }
}

.main-container {
    flex: 1;

    & .main-container-tabView {
        height: 100%;
    }
}

/*顶部条*/
.top-container {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    border-bottom: var(--size-border) solid var(--color-background-alter2);

    & .input-path-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & h1 {
        box-sizing: border-box;
        padding-top: 30px;
        padding-left: 30px;
        height: 100%;
        font-weight: 700;
    }
}

/*最小化关闭按钮*/
.minimize-container {
    position: absolute;
    top: 15px;
    right: 15px;
    height: 30px;
    display: flex;
    flex-direction: row;
    transition: all .3s;
    fill: var(--color-icon-light);

    &:hover {
        fill: var(--color-icon);
    }

    & .minimize-container-button {
        display: flex;
        width: 30px;
        justify-content: center;
        align-items: center;
        margin-right: 5px;
        margin-left: 5px;
        border-radius: 50px;

        &:hover {
            background-color: var(--color-background-alter2);
        }
    }

    & #close-button {


        &:hover {
            background-color: rgb(253, 0, 7) !important;
            fill: var(--color-background-alter1) !important;
        }
    }
}

/*控件*/
.switch {
    background-color: var(--color-background-alter3);
    border-radius: 14px;
    box-sizing: border-box;
    display: inline-flex;
    position: relative;
    transition-behavior: normal;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.38, 0, 0.24, 1);
    transition-delay: 0s;
    transition-property: all;
    width: 36px;
    height: 18px;
    padding: 3px;

    & .switch-handle {
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.09) 0 2px 4px;
        box-sizing: border-box;
        display: inline-block;
        height: 12px;
        width: 12px;
        position: relative;
        transition-behavior: normal;
        transition-duration: 0.2s;
        transition-timing-function: cubic-bezier(0.38, 0, 0.24, 1);
        transition-delay: 0s;
        transition-property: all;
        z-index: 2;
        background-color: var(--color-icon);
    }

    &.switch-on {
        background-color: var(--color-icon-strong);
    }

    &.switch-on .switch-handle {
        transform: translateX(17px);
        background: var(--color-background-alter2);
    }
}

.combobox {
    cursor: pointer;
    height: 22px;
    border-radius: 5px;
    background-color: var(--color-background-alter1);
    color: var(--color-text);
    border: 1px solid var(--color-background-alter1);

    & option {
        border-radius: 0;
        background-color: var(--color-background-alter1);
        border: 0
    }

    &:focus-visible {
        outline: none;
    }
}

/*按钮*/
.button {
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    width: 80px;
    background-color: var(--color-tip);
    border-radius: 50px;
    text-align: center;
    font-size: var(--size-text-small);
    color: var(--color-text-white);
    transition: all 0.1s;

    &:hover {
        background-color: var(--color-tip-light);
    }


    &:active {
        background-color: var(--color-tip-strong);
    }
}

/*输入框*/
input {
    cursor: text;
    width: 60px;
    height: 16px;
    background-color: var(--color-background-alter1);
    color: var(--color-text);
    border: 2px solid var(--color-background-alter1);
    border-radius: 5px;
    box-sizing: content-box;
    text-align: right;
    padding: 0 5px 0 5px;

    &:focus {
        border: var(--size-border) solid var(--color-icon-strong);
        outline: none;
    }

    &.long-input {
        width: 300px;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

a {
    color: var(--color-icon-strong);

    &:active {
        color: var(--color-icon-strong);
    }
}

/*滚动条*/
/* 隐藏浏览器默认滚动条 */
::-webkit-scrollbar {
    width: 10px; /* 设置滚动条宽度 */
    height: 0;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
    background-color: transparent; /* 设置轨道背景颜色 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 10px; /* 设置滑块边角的圆角 */
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-background-alter4);
}