/*设置界面*/
.setting-container {
    box-sizing: border-box;
    height: 100%;
    border-left: var(--size-border) solid var(--color-background-alter2);
    background-color: var(--color-background);

    & .setting-container-body {
        height: calc(100% - 60px);
        overflow: auto;
    }
}

.setting-box {
    margin: 40px 30px 40px 30px;
    font-size: var(--size-text-main);

    & h1 {
        font-weight: 700;
        color: var(--color-icon);
        padding-left: 10px;
    }

    & .setting-box-sub {
        margin-top: 10px;
        padding: 10px 20px 10px 20px;
        border-radius: 10px;
        background-color: var(--color-background-alter1);
    }
}

.setting-item {
    padding: 10px 0 10px 0;
    height: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}