/*整个刮削界面*/
.main-scrape-container {
    height: 100%;
    box-sizing: border-box;

    border-left: var(--size-border) solid var(--color-background-alter2);
    background-color: var(--color-background);
}

/*路径输入编辑框*/
.input-path-container-line {
    width: 65%;
    position: relative;
    transform: translateX(-30px);

    & #input-path {
        width: 100%;
        height: 34px;
        box-sizing: border-box;
        border-radius: 50px;
        background-color: var(--color-background);
        border: var(--size-border) solid var(--color-background-alter2);
        text-align: left;
        padding: 0 40px 0 43px;

        &:focus {
            border: var(--size-border) solid var(--color-icon-strong);
            outline: none;
        }
    }

    & .input-path-icon {
        position: absolute;
        top: 0;
        left: 6px;
        box-sizing: border-box;
        height: 100%;
        padding: 6px;
        fill: var(--color-background-alter4);
    }

    & #refresh-button {
        position: absolute;
        top: 0;
        right: 2px;
        box-sizing: border-box;
        height: 100%;
        padding: 5px;
        cursor: pointer;
        transition: fill 0.1s, transform 0.3s;
        fill: var(--color-background-alter4);

        &:hover {
            fill: var(--color-icon-strong);
        }
    }
}

/*控制台*/
.control-container {
    background-color: var(--color-background-alter1);
    padding: 0 20px 0 20px;
    height: 70px;
    display: flex;
    align-items: center;

    & .control-button-container {
        width: 250px;
        height: 2em;
        padding: 0 60px 0 10px;
        display: flex;
        justify-content: flex-end;
    }

    & select {
        padding-top: 2px;
        background-color: var(--color-tip);
        color: var(--color-text-white);
        font-size: var(--size-text-small);
        text-align: center;
        width: 80px;
        line-height: 30px;
        height: 30px;
        margin-right: 15px;
        border-radius: 50px;
        cursor: pointer;

        &:focus-visible {
            outline: none;
        }
    }
}

/*进度条*/
.progress-bar-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px 0 10px;

    & .progress-bar-text-container {
        box-sizing: border-box;
        padding: 0 5px 0 5px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: var(--size-text-small);
        color: var(--color-text-gray2);
    }

    & .progress-bar {
        width: 100%;
        margin-top: 7px;

        & .progress-bar-background {
            width: 100%;
            height: 8px;
            background-color: var(--color-background-alter3);
            border-radius: 5px;
        }

        & .progress-bar-top {
            width: 0%;
            height: 100%;
            background-color: var(--color-icon-strong);
            border-radius: 5px;
            transition: all .2s;
        }
    }
}

/*表格区域*/
.table-container {
    height: calc(100% - 70px - 60px);
    border-radius: 5px;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;

    & .table-container-header {
        display: flex;
        height: 2em;
        padding: 0 20px 10px 20px;
        background-color: var(--color-background-alter2);
        color: var(--color-text-gray);
        font-size: var(--size-text-small);
        font-weight: 700;

        & .table-item {
            align-items: flex-end;
        }
    }

    & .table-container-body {
        flex: 1;
        padding: 0 20px 0 20px;
        overflow-y: auto;
        font-size: var(--size-text-small);

        & input[type="text"] {
            width: 100%;
            text-align: center;
            background-color: transparent;
            border: var(--size-border) solid var(--color-background);

            &:focus {
                border: var(--size-border) solid var(--color-icon-strong);
                outline: none;
            }
        }
    }
}

.table-line {
    display: flex;
    border-bottom: var(--size-border) solid var(--color-background-alter2);
    height: 3em;
}

.table-item {
    padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
}

