.help-container {
    box-sizing: border-box;
    height: 100%;
    border-left: var(--size-border) solid var(--color-background-alter2);
    background-color: var(--color-background);

    & .help-container-body {
        height: calc(100% - 60px);
        display: flex;
    }
}

.help-container-left{
    width: 200px;
    height: 100%;
}

.help-container-right{
    flex: 1;
    height: 100%;
}